*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#name-picker{
  width: 15rem;
}



#chat-window{
  width: 45rem;
  height: 25rem;
  display: none;
  flex-direction: row;
  position: relative;
  outline: 2px solid black;
}

.chat{
  flex-direction: column;
  width: 70%;
  height: 100%;
}

.top-bar{
  height: 10%;
  width: 100%;
  font-size: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: -10%;
  left: 0;
  background-color: rgb(109, 219, 255);
  outline: 2px solid black;
}

.messages{
  width: 100%;
  height: 90%;
  background-color: white;
  padding: 0.5rem;
}

form{
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

input{
  width: 100%;
  height: 100%;
}

button{
  width: 4rem;
  border-radius: 0;
  border: 1px solid grey;
}

.smiley-toggle{
  position: relative;
  width: 4rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EFEFEF;
  border: 1px solid grey;
  color: black;
  text-decoration: none;
  user-select: none;
}

.smiley-menu{
  display: none;
  justify-content: center;
  position: absolute;
  top: -60%;
  left: -10%;
  background-color: #EFEFEF;
}

.smiley{
  height: 100%;
  width: 100%;
}

.nudge{
  width: 4rem;
  height: 100%;
  background-color: #EFEFEF;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  color: black;
  text-decoration: none;
  user-select: none;
}

#message-list{
  list-style-type: none;
  height: 100%;
  overflow: auto;
}

.online{
  width: 30%;
  height: 100%;
}

.online-list{
  width: 100%;
  height: 100%;
  list-style-type: none;
  font-size: 2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-left: 2px solid grey;
}

.online-list li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: green; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 0.5em; /* Also needed for space (tweak if needed) */
  margin-left: 0.5rem; /* Also needed for space (tweak if needed) */
  font-size: 2rem;
}